/* Calendar wrapper */
div.calendar {
  width: 55%;
  margin: auto;
  margin-top: 3em;
  margin-bottom: 3em;
  border: 1px solid var(--header-bg);
}

/* Reset everything */
div.calendar ul li {
  margin: 0;
  list-style-type: none;
}

/* Month header */
div.month {
  padding: 0.5px;
  width: 100%;
  background-color: var(--alt-bg);
  text-align: center;
}

/* Month list */
div.month ul {
  margin: 0;
  padding: 0;
}

div.month ul li {
  margin: 1ex;
  color: var(--content-fg);
  font-size: 18pt;
  text-transform: uppercase;
  letter-spacing: 3px;
  list-style-type: none;
}

/* Previous button inside month header */
div.month ul li.previous {
  margin: 0 0 0 2em;
  float: left;
  padding-left: 20px;
}
div.month ul li.previous a {
  display: block;
  text-decoration: none;
  color: var(--alt-fg);;
}

/* Next button */
.month .next {
  margin: 0 2em 0 0;
  float: right;
  padding-right: 20px;
}
.month .next a {
  text-decoration: none;
  color: var(--alt-fg);;
}

/* Weekdays (Mon-Sun) */
.weekdays {
  margin: 0;
  font-size: 0;
  background-color: var(--header-bg);;
  border-radius: 0;
}

.weekdays li {
  display: inline-block;
  padding: 1ex 0;
  width: 14.2857%;
  color: var(--alt-fg);
  text-align: center;
  vertical-align: middle;
  font-size: 14pt;
}

/* Days (1-31) */
ul.days {
  margin: 1em 0;
  padding: 0;
  font-size: 0;
}

ul.days li {
  display: inline-block;
  width: 14.2857%;
  height: 5em;
  text-align: center;
  font-size:12pt;
  color: var(--alt-bg);
  background: var(--content-bg);
  border: 4px solid var(--content-bg);
}

/* Highlight "active" days */
ul.days li.hot {
  background: var(--alt-bg);
} 

/* Better looking links */
ul.days a {
  display: block;
  height: 100%;
  text-decoration: none;
}

ul.days a strong {
    display: block;
    padding-top: 3.5ex;
}

ul.days a:visited {
  color: var(--link-fg);
}

ul.days a:hover {
  color: var(--content-fg);
}

ul.days a:active {
  color: var(--link-active);
}

ul.days li.hot a {
  color: var(--content-fg);
}
