/* Calendar wrapper */
.calendar {
  width: 65%;
  margin: auto;
  margin-top: 3em;
  margin-bottom: 3em;
  border: 1px solid var(--header-bg);
}

/* Reset everything */
.calendar ul li {
  margin: 1em 0;
  padding: 0;
  list-style-type: none;
}

/* Month header */
.month {
  padding: 2em 0;
  width: 100%;
  background-color: var(--alt-bg);
  text-align: center;
}

/* Month list */
.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: var(--content-fg);
  font-size: 18pt;
  text-transform: uppercase;
  letter-spacing: 3px;
  list-style-type: none;
}

/* Previous button inside month header */
.month .previous {
  margin: 0.5ex 0 0.5ex 2em;
  float: left;
  padding-left: 20px;
}
.month .previous a {
  text-decoration: none;
  color: var(--alt-fg);;
}

/* Next button */
.month .next {
  margin: 0.5ex 2em 0.5ex 0;
  float: right;
  padding-right: 20px;
}
.month .next a {
  text-decoration: none;
  color: var(--alt-fg);;
}

/* Weekdays (Mon-Sun) */
.weekdays {
  margin: 0;
  padding: 1em 0;
  background-color:var(--header-bg);;
  border-radius: 0;
}

.weekdays li {
  display: inline-block;
  width: 14.2857%;
  color: var(--alt-fg);
  text-align: center;
  font-size: 14pt;
}

/* Days (1-31) */
.days {
  padding: 10px 0;
  background: var(--content-bg);
  margin: 2em 0 3em 0;
}

.days li {
  margin: 1em 0;
  display: inline-block;
  width: 14.2857%;
  text-align: center;
  font-size:12pt;
  color: var(--alt-bg);
}

/* Highlight the "current" day */
.days li.hot {
  background: var(--alt-bg);
} 

/* Better looking links */
.days a {
  text-decoration: none;
}

.days a:visited {
  color: var(--link-fg);
}

.days a:hover {
  color: var(--header-bg);
}

.days a:active {
  color: var(--link-active);
}

.days li.hot a {
  color: var(--content-fg);
}
