/**
 * Colour scheme
 *
 * These colours are used throughout the file to provide
 * a somewhat consistent way to set the colours of elements
 *
 * Colour schemes are located in individual files in the
 * css/colours directory, and are expected to be included
 * as stylesheets before this one in any HTML using this
 * stylesheet.
 *
 * The following colours should be expected to be
 * available, i.e., declared in every colour scheme
 * under the following names:
 *
 * Background Colours          Foreground Colours
 *---------------------------|-----------------------------
 *                           
 * --body-bg                    
 * --content-bg                 --content-fg
 * --alt-bg                     --alt-fg
 *                              --link-fg
 * --header-bg                  --header-fg
 * --footer-bg                  --footer-fg
 * --footer-bg-alt
 *
 * Accent Colours              Hover Colours 
 *---------------------------|-----------------------------
 * 
 * --content-border             --link-hover 
 * --header-border              --link-active
 *
 */


/**
 * Top-level settings
 */

html {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: var(--body-bg);
  color: var(--content-fg);
  font-family: Verdana, Geneva, sans-serif;
  margin: 0;
  padding: 0;
}

/**
 * Link colours and decorations
 */

a:link {
  color: var(--link-fg);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover);
}

a:active {
  color: var(--alt-fg);
}

/**
 * Top-level elements
 */

p, tr, td, th, h2, h3, h4, h5, h6, button, input, fieldset, textarea, select, label, legend, ol, ul, table, menu, dir, dl, address {
  margin: 16px 46px 12px 46px;
  padding: 10px;
  border-color: var(--body-bg);
  border-radius: 4px;
  border-width: 1px;
  hyphens: auto;
}

ol, ul, menu, dir, dl, table {
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 10px;
}

ul li, menu, dir {
  list-style-type: disc;
}

h2, h3, h4, h5, h6, legend {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  padding-bottom: 0.5ex;
  padding-top: 1.5ex;
  /** This is a hack for making section
   * links not get messed up by the
   * presence of the top sticky bar
   */
  border-top: 50px solid transparent;
  margin-top: -50px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

p {
  padding-top: 0.5ex;
  padding-bottom: 1.5ex;
}

h1 {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  margin: 0px 0px 10px 0px;
  padding: 20px 56px 20px 56px;
  background-color: var(--header-bg);
  color: var(--header-fg);
}

blockquote {
  border-left: 3px solid var(--body-bg);
  margin-left: 1em;
  padding-top: 1ex;
  padding-bottom: 1ex;
}

code, kbd, samp, tt {
  font-family: "Hack", "Consolas", "Lucida Console", Monaco, monospace;
}

th {
  background-color: var(--alt-bg);
}

li {
  padding: 5px;
  margin-left: 1em;
}

dt {
  margin-top: 10px;
}

/**
 * Keep images in the realm of sanity
 */
img {
  display: block;
  max-width: 90%;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  border: 1px solid var(--content-fg);
}

/**
 * Fix elements to other elements
 *
 * Useful for fixing elements to top/bottom of the page
 */
.fixed-top, .fixed-bottom {
  position:fixed;
  width:100%;
  z-index:1
  left: 0;
}

.fixed-top {
  top: 0;
}

.fixed-bottom {
  bottom: 0;
}

/**
 * Anything that you want to confine to the same dimensions
 * as the content div can go/mimic here
 */
div.content, div.header div {
  max-width: 1200px;
  margin: auto;
}

div.content {
  background-color: var(--content-bg);
  border-left: 1px solid var(--content-border);
  border-right: 1px solid var(--content-border);
  margin-top: 6em;
}

/**
 * Make an object stick to the top of the window
 */
div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0
}

/**
 * Some classes for specifying block widths
 */
.half-width {
  width: 50%;
}

.quarter-width {
  width: 25%;
}

/**
 * Header and footer which stick to the top/bottom of the
 * content
 */
.header, .footer {
  margin: 0;
  padding: 0;
}

.header {
  background-color: var(--header-bg);
  min-height: 10px;
  border-bottom: 1px solid var(--header-border);
  box-shadow: 0 -1.5em 2em 2em var(--header-bg);
}

.header p {
  display: inline-block;
  padding: 1ex;
}

.header a {
  color: var(--alt-fg);
}

.header button.nav {
  background-color: var(--header-bg);
  border: 0;
  padding: 0;
  margin: 0;
  margin-top: 0.8ex;
  margin-right: 1.2ex;
  height: 0;
  width: 1.8em;
  float: right;
  border-top: 0.12em solid var(--alt-fg);
  border-bottom: 0.12em solid var(--alt-fg);
  border-radius: 0.12ex;
}

.header button.nav:before,
.header button.nav:after {
  margin-top: 0.8ex;
  display: block;
  color: #000000;
  border-top: 0.12em solid var(--alt-fg);
  border-bottom: 0.12em solid var(--alt-fg);
  border-radius: 0.12ex;
  content: "";
}

.header button.nav:after {
  margin-top: 0.7ex;
}

.header a:hover, 
.header button:hover,
.header button:hover:before,
.header button:hover:after {
  color: var(--link-hover);
  border-color: var(--link-hover);
}

.header a:active, 
.header button:active,
.header button:active:before,
.header button:active:after {
  color: var(--link-active);
  border-color: var(--link-active);
}

.footer {
  background-color: var(--footer-bg);
  background-image: linear-gradient(#120225,var(--footer-bg));
  color: var(--alt-fg);
  margin: 0;
  padding: 0;
  min-height: 300px;
  width: 100%;
  text-align: center;
  top: 0;
  bottom: 0;
}
.footer a:link, .footer a:visited {
  color: var(--alt-fg);
}

.footer a:hover {
  color: var(--link-hover);
}

.footer a:active {
  color: var(--link-active);
}

.footer div.vrule {
  display: inline-block;
  width: 1px;
  height: 300px;
  border-left: 1px solid var(--content-fg);
  margin-top: 50px;
}

.footer div.fgroup {
  display: inline-block;
  width: 30%;
  min-height: 300px;
  margin: 0.5%;
  padding-top: 3em;
  vertical-align: top;
}

.footer div.fgroup hr {
  border: none;
  margin: 1em;
  margin-bottom: 2em;
}

.footer div.fgroup a {
  display: block;
  margin-top: 1em;
  text-align: left;
  padding-left: 60px;
  padding-right: 60px;
}

.footer div.credit {
  padding: 10px;
  text-align: left;
}

/**
 * Input styling
 */
div.datatier {
  display: block;
  width: 100%;
}

p.corridor {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 48pt;
}

div.fieldvalue, div.fieldkey {
  margin: 0;
  padding: 0;
  display: inline-block;
  text-align: justify;
  vertical-align: 1em;
}

div.fieldvalue label, div.fieldkey label {
  margin: 0 1em;
  font-size: 8pt;
}

div.fieldvalue input, div.fieldkey input {
  margin: 0;
  font-size: 8pt;
  width: 12em;

}

div.want {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

div.want div {
  width: 50%
}

div.want div label,
div.want div input {
  width: 90%;
}
