<footer class="footer">
  <div class="fgroup">
    <p><strong>Views</strong></p>
    <hr />
    <a href="/">Dashboard View</a>
    <a href="/calendar/<%= now.getFullYear() %>/<%= now.getMonth() %>">Calendar View</a>
    <a href="/list">List View</a>
    <a href="/newentry/<%= now.getFullYear() %>/<%= now.getMonth() %>/<%= now.getDate() %>">New Data Entry</a>
    <a href="/querydate/">Today's Entries</a>
  </div>
  <div class="vrule"></div>
  <div class="fgroup">
    <p><strong>Settings</strong></p>
    <hr />
    <a href="/">General Settings</a>
    <a href="/">Font Scaling</a>
    <a href="/">Colour Scheme</a>
    <a href="/">Database User</a>
  </div>
  <div class="vrule"></div>
  <div class="fgroup">
    <p><strong>Elements</strong></p>
    <hr />
    <a href="/elements">Headings</a>
    <a href="/elements#lists">Lists</a>
    <a href="/elements#markup">Text-level Markup</a>
    <a href="/elements#links">Links</a>
    <a href="/elements#forms">Forms</a>
    <a href="/elements#tables">Tables</a>
    <a href="/elements#characters">Characters</a>
    <a href="/elements#hyphenation">Hyphenation</a>
  </div>
  <div class="credit">
    <p>This app is built using 
    <a href="https://github.com/jwrg/kcats/">Kcats</a></p>
    <p>&copy;2020 <a href="https://github.com/jwrg/">jwrg</a></p>
  </div>
</footer>
