<footer class="footer">
  <div class="fgroup">
    <p><strong>Views</strong></p>
    <hr />
    <a href="/">Dashboard View</a>
    <a href="/calendar/<%= now.getFullYear() %>/<%= now.getMonth() %>">Calendar View</a>
    <a href="/list">List View</a>
    <a href="/newrelease/<%= now.getFullYear() %>/<%= now.getMonth() %>/<%= now.getDate() %>">New Data Entry</a>
    <a href="/querydate/">Today's Entries</a>
  </div>
  <div class="vrule"></div>
  <div class="fgroup">
    <p><strong>Elements</strong></p>
    <hr />
    <a href="/elements">Basic HTML</a>
    <a href="/elements">Lists</a>
    <a href="/elements">Text-level Markup</a>
    <a href="/elements">Forms &amp; Tables</a>
    <a href="/elements">Characters</a>
  </div>
  <div class="vrule"></div>
  <div class="fgroup">
    <p><strong>Settings</strong></p>
    <hr />
    <a href="/">Dashboard View</a>
    <a href="/calendar/<%= now.getFullYear() %>/<%= now.getMonth() %>">Calendar View</a>
    <a href="/newrelease/<%= now.getFullYear() %>/<%= now.getMonth() %>/<%= now.getDate() %>">New Data Entry</a>
  </div>
  <div class="credit">
    <p>This app is build on Kcats</p><p>&copy;2020 <a href="https://github.com/jwrg/">jwrg</a></p>
  </div>
</footer>
