<h1>Dashboard</h1>
<p>The time and date are as follows: <%= now %></p>
<p>This app scaffold supports basic timestamped JSON
data stored in PostgreSQL in a bespoke database and
data table.  The table is organized into three columns;
one each for an ID, a timestamp, and the actual JSON
data.  In this way, the data is uniquely ID'ed and
can be sorted easily by timestamp and visualized using a
<a href="/calendar/<%= now.getFullYear() %>/<%= now.getMonth() %>">
  calendar view</a>.</p>
<p>The following is a summary of the data:</p>
<ul>
  <li>Data in dataset: <%= count %></li>
</ul>
<% if (data.upcoming.length > 0) { %>
<h3>Next (upcoming) 5 data</h3>
<table>
  <tr>
    <th>ID</th>
    <th>Timestamp</th>
    <th>Data</th>
  </tr>
  <% data.upcoming.forEach(datum => { %>
  <tr>
    <td><%= datum.id %></td>
    <td><%= datum.date %></td>
    <td><%= JSON.stringify(datum.data) %></td>
  </tr>
  <% }); %>
</table>
<% } %>
<% if (data.past.length > 0) { %>
<h3>Past (previous) 5 data:</h3>
<table>
  <tr>
    <th>ID</th>
    <th>Timestamp</th>
    <th>Data</th>
  </tr>
  <% data.past.forEach(datum => { %>
  <tr>
    <td><%= datum.id %></td>
    <td><%= datum.date %></td>
    <td><%= JSON.stringify(datum.data) %></td>
  </tr>
  <% }); %>
</table>
<% } %>
<h2>Every Map Has a Four-Colouring</h2>
<p>Here's a world map as a four-colouring:</p>
<img src="https://upload.wikimedia.org/wikipedia/commons/4/4a/World_map_with_four_colours.svg" alt="Four-colouring the world" />
<h2>Stuff goes here</h2>
<h3>Pretend there's some stuff here</h3>
<p>Stuff here</p>
<p>Stuff here</p>
<p>Stuff here</p>
<p>Stuff here</p>
<p>Stuff here</p>
<p>Stuff here</p>
<p>Stuff here</p>
<p>Stuff here</p>
<p>Stuff here</p>
<p>Stuff here</p>
<p>To see how more stuff displays, check out the
<a href="/elements">elements</a> page.</p>
