<h1>Dashboard</h1>
<p>The time and date are as follows: <%= now %></p>
<p>The following is a summary of the data:</p>
<ul>
  <li>Releases in dataset: <%= now %></li>
</ul>
<% if (now) { %>
<h3>Next 5 data</h3>
<table>
  <tr>
    <th>ID</th>
    <th>Data field 1</th>
    <th>Data field 2</th>
    <th>Model</th>
    <th>Release</th>
    <th>Price</th>
  </tr>

</table>
<h3>Previous 5 data:</h3>
<% } %>
<h2>Every Map Has a Four-Colouring</h2>
<p>Here's a world map as a four-colouring:</p>
<img src="https://upload.wikimedia.org/wikipedia/commons/4/4a/World_map_with_four_colours.svg" alt="Four-colouring the world" />
<h2>Stuff goes here</h2>
<h3>Pretend there's some stuff here</h3>
<p>Stuff here</p>
<p>Stuff here</p>
<p>Stuff here</p>
<p>Stuff here</p>
<p>Stuff here</p>
<p>Stuff here</p>
<p>Stuff here</p>
<p>Stuff here</p>
<p>Stuff here</p>
<p>Stuff here</p>
<p>To see how more stuff displays, check out the
<a href="/elements">elements</a> page.</p>
