<h1>Dashboard</h1>
<p>The time and date are as follows: <%= now %></p>
<p>The following is a summary of the data:</p>
<ul>
  <li>Releases in dataset: <%= now %></li>
</ul>
<% if (now) { %>
<h3>Next 5 releases</h3>
<table>
  <tr>
    <th>ID</th>
    <th>Data field 1</th>
    <th>Data field 2</th>
    <th>Model</th>
    <th>Release</th>
    <th>Price</th>
  </tr>

</table>
<% } %>
<p>Here's a world map as a four-colouring:</p>
<img src="https://upload.wikimedia.org/wikipedia/commons/4/4a/World_map_with_four_colours.svg" alt="Four-colouring the world" />
<h3>Pretend there's some stuff here</h3>
<p>Stuff here</p>
<p>Stuff here</p>
<p>Stuff here</p>
<p>Stuff here</p>
<p>Stuff here</p>
<p>Stuff here</p>
<p>Stuff here</p>
<p>Stuff here</p>
<p>Stuff here</p>
<p>Stuff here</p>
<h1>An H1 header</h1>
<h2>An H2 header</h2>
<h3>An H3 header</h3>
<h4>An H4 header</h4>
<h5>An H5 header</h5>
<h6>An H6 header</h6>
<blockquote>This is a block quote.</blockquote>
<p>Paragraphs are <em>pretty</em> <strong>basic</strong> <abbr title="In My Humble Opinion">IMHO</abbr>.</p>
<ul>An un-ordered list
  <li>Item</li>
  <li>Item</li>
  <li>Item</li>
  <li>Item</li>
  <li>Item</li>
</ul>
<ol>An ordered list
  <li>Item</li>
  <li>Item</li>
  <li>Item</li>
  <li>Item</li>
  <li>Item</li>
</ol>
<a href="#">A link is here</a>

