<h1>Edit Entry</h1>
<h2>Editing entry id number <%= id %></h2>
<script src="/js/editentry.js"></script>
<form action="/saveentry" method="post">
  <div id="main">
    <input type="hidden" id="id" name="id" value=null />
    <label for="date">Entry Date:</label>
    <% let datestring = entry.date.getFullYear() + (entry.date.getMonth() < 10 ? '-0' : '-') + (parseInt(entry.date.getMonth()) + 1) + (entry.date.getDate() < 10 ? '-0' : '-') + entry.date.getDate() %>
    <input type="date" id="date" name="date" value="<%= datestring %>" />&nbsp;
    <label for="time">Entry Time (GMT):</label>
    <% let timestring = entry.date.getHours() + ':' + entry.date.getMinutes() %>
    <input type="time" id="time" name="time" value="<%= timestring %>" />
    <div id="datafields">
      <input type="button" onclick="addField()" value="Add a datafield" /><br />
      <% var numData = 0;
      Object.keys(entry.data).forEach(key => { 
      numData++; %>
      <div id="field_<%= numData %>_key" class="fieldkey">
        <label for="field_<%= numData %>_key">Data Field <%= numData %> Key:</label>
        <input type="text" id="field_<%= numData %>_key" name="field_<%= numData %>_key" value=<%= key %> />
      </div><div id="field_<%= numData %>" class="fieldvalue">
        <label for="field_<%= numData %>">Data Field <%= numData %> Value:</label>
        <input type="text" id="field_<%= numData %>" name="field_<%= numData %>" value="<%= entry.data[key] %>" />
      </div>
      <% }); %>
    </div>
    <input type="submit" id="submit" value="Save!" />
    <input type="button" id="cancel" onclick="window.history.back()" value="Cancel" />
  </div>
</form>
