<html>
  <head>
    <title>Paipo Web App Prototype v.0.0</title>
    <link rel="stylesheet" type="text/css" href="/css/colours/lakers.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/calendar.css">
  </head>
  <body>
    <%- include('../template/header.html') %>
    <div class="content">
    <%- body %>
    <%- include('../template/footer.html') %>
    </div>
  </body>
</html>
